params {
  publish_dir_mode = "link"
  out_dir = "results"



  /**
   * options for EGA
   */
  egaCredFile = "~/.ega.json"
  // number of connectiosn to use *per file*
  downloadConnections = "1"
}

process{
 withName:sra_dump {
    cpus = 2
  }
}

executor {
    //number of parallel downloads
    cpus = 24
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

resume = true

profiles { 
  conda {
    process.conda = "envs/default.yml"
  }
}
