params {
  publishDirMode = "link"
  outputDir = "results"
  egaCredFile = "~/.ega.json"
  // number of connectiosn to use *per file*
  downloadConnections = "1"
}

executor {
    //number of parallel downloads
    cpus = 24
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

resume = true

