params {
  help = false
  accession = false
  accession_list = false
  sra = false
  wget = false
  ega = false
  publish_dir_mode = "link"
  out_dir = "results"
  parallel_downloads = 16



  /**
   * options for EGA
   */
  egaCredFile = "~/.ega.json"
  // number of connectiosn to use *per file*
  downloadConnections = "1"
}


process{
 errorStrategy = 'retry'
 maxRetry = 3
 withName:sra_dump {
    cpus = 2
  }
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

resume = true

profiles { 
  conda {
    process.conda = "envs/default.yml"
  }
}
